.popup__button_close {
  width: 57px;
  height: 57px;
  top: -45px;
  right: -45px;
  cursor: pointer;
  transition: opacity 0.1s linear;
}

.popup__button_close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .popup__button_close {
    width: 42px;
    height: 42px;
    top: -32px;
    right: -32px;
  }
}
