.card__container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 361px;
}

@media screen and (max-width: 980px) {
  .card__container {
    min-height: 36.837vw;
  }
}

@media screen and (max-width: 768px) {
  .card__container {
    min-height: 54.45vw;
  }
}

@media screen and (max-width: 425px) {
  .card__container {
    min-height: 110.11vw;
  }
}