.popup__container {
  max-width: 430px;
  width: 100%;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 500px) {
  .popup__container {
    padding: 25px 0;
    max-width: 88vw;
  }
}
