.container__footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 66px;
}

@media screen and (max-width: 980px) {
  .container__footer {
    width: 90%;
    padding-top: 48px;
  }
}

@media screen and (max-width: 425px) {
  .container__footer {
    width: 88.125%;
  }
}