.card__like {
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url(../../../images/heart-shape-white.svg);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  
  margin: 30px 20px 0 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.1s linear;
  object-fit: cover;
  position: relative;
  line-height: 1.8rem;
}

.card__like:hover {
  opacity: 0.5;
}
