.card__like {
  width: 21px;
  height: 18px;
  background-color: #fff;
  background-image: url(../../../images/heart-shape-white.svg);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  justify-self: end;
  grid-area: like;
  margin-right: 18px;
  
  cursor: pointer;
  transition: opacity 0.1s linear;
}

.card__like:hover {
  opacity: 0.5;
}


/*

.card__like-block {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  */