.card__title {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.8rem;
  margin: 25px auto 25px 21px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 218px;
}
