.card {
  list-style: none;
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 10px;
  grid-template-rows: min-content 1fr;
  align-items: center;
  grid-template-areas:
    "photo photo"
    "caption like";
  margin: 0;
  padding: 0;
  width: 100%;
  width: 282px;
}
