.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
}
