.container__header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .container__header {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .container__header {
    width: 100%;
  }
}